<%- include('../includes/header.ejs') %>

    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/cart.css">
</head>
<body>
    
    <%- include('../includes/navigation.ejs') %>

    <main>
        <h2>My Cart</h2>
        <% if(products.length > 0) { %>
            <ul  class="cart_item-list">
                <% products.forEach(item => { %>
                    <li class="cart_item">
                        <h3><%= item.productId.title %></h3>
                        <h4>Quantity: <%= item.quantity %></h4>
                        <form action="/cart-delete-item" method="POST">
                            <button class="btn" type="submit">Remove</button>
                            <input type="hidden" value="<%= item.productId._id %>" name="productId">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        </form>
                    </li>
                <% }); %>
            </ul>
            <hr>
            <div class="centered">
                <!-- <form action="/create-order" method="POST">
                    <button type="submit" class="btn">Place Order</button>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </form> -->
                <a href="/checkout" class="btn">Order Now!</a>
            </div>
        <% } else { %>
            <h3>No products in cart</h3>
        <% } %>
    </main>

<%- include('../includes/footer.ejs') %>