<%- include('../includes/header.ejs') %>

    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    
    <%- include('../includes/navigation.ejs') %>

    <main>
        <h2>My Cart</h2>
        <% if(products.length > 0) { %>
            <ul>
                <% products.forEach(item => { %>
                    <li>
                        <p><%= item.product.title %> (<%= item.quantity %>)</p>
                        <form action="/cart-delete-item" method="POST">
                            <button class="btn" type="submit">Remove</button>
                            <input type="hidden" value="<%= item.product.id %>" name="productId">
                        </form>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <h3>No products in cart</h3>
        <% } %>
    </main>

<%- include('../includes/footer.ejs') %>