<%- include('../includes/header.ejs') %>

    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    
    <%- include('../includes/navigation.ejs') %>

    <main class="centered">
        <h2><%= product.title %></h1>
        <hr>
        <div>
            <img src="/<%= product.image %>" alt="<%= product.title %>">
        </div>
        <h3>$<%= product.price %></h3>
        <p><%= product.description %></p>
        <a href="/products" class="btn">Back to products list</a>
        <%- include('../includes/form-add-to-cart.ejs') %>
    </main>

<%- include('../includes/footer.ejs') %>